@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
}

input,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  --s: 28px;
  height: var(--s);
  aspect-ratio: 2.5;
  --_g: #000 90%,#0000;
  --_g0: no-repeat radial-gradient(farthest-side          ,var(--_g));
  --_g1: no-repeat radial-gradient(farthest-side at top   ,var(--_g));
  --_g2: no-repeat radial-gradient(farthest-side at bottom,var(--_g));
  background: var(--_g0), var(--_g1), var(--_g2), var(--_g0), var(--_g1), var(--_g2);
  background-size: 20% 50%,20% 25%,20% 25%;
  animation: l45 1s infinite; 
}
@keyframes l45 {
  0%   {background-position:calc(0*100%/3) 50%,calc(1*100%/3) calc(50% + calc(var(--s)/8)),calc(1*100%/3) calc(50% - calc(var(--s)/8)), calc(3*100%/3) 50%,calc(2*100%/3) calc(50% + calc(var(--s)/8)),calc(2*100%/3) calc(50% - calc(var(--s)/8))}
  33%  {background-position:calc(0*100%/3) 50%,calc(1*100%/3) 100%           ,calc(1*100%/3) 0              , calc(3*100%/3) 50%,calc(2*100%/3) 100%           ,calc(2*100%/3) 0              }
  66%  {background-position:calc(1*100%/3) 50%,calc(0*100%/3) 100%           ,calc(0*100%/3) 0              , calc(2*100%/3) 50%,calc(3*100%/3) 100%           ,calc(3*100%/3) 0              }
  90%,
  100% {background-position:calc(1*100%/3) 50%,calc(0*100%/3) calc(50% + calc(var(--s)/8)),calc(0*100%/3) calc(50% - calc(var(--s)/8)), calc(2*100%/3) 50%,calc(3*100%/3) calc(50% + calc(var(--s)/8)),calc(3*100%/3) calc(50% - calc(var(--s)/8))}
}

.ulam-active {
  position: relative;
  background: #fff6e5;
  border-color: #ffb703;
  box-shadow:
    0 8px 18px rgba(255, 183, 3, 0.35),
    0 0 0 2px rgba(255, 183, 3, 0.25);
}

.marquee-smooth {
  --end-x: -110%;
  animation: marquee-smooth 20s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
  .marquee-smooth:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee-smooth {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(var(--end-x))
  }
}

@media (max-width: 820px) {
  .marquee-smooth {
    --end-x: -170%;
  }
}

@media (max-width: 768px) {
  .marquee-smooth {
    --end-x: -145%;
  }
}

@media (max-width: 640px) {
  .marquee-smooth {
    --end-x: -250%;
  }
}









